body {
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: whitesmoke;
    padding: 0.6em;
    display: flex;
    align-items: center;
    gap: 0.6em;
}

header h1 {
    margin: 0;
    display: inline-block;
}

.header-buttons {
    flex-grow: 1;
}